@keyframes smoothDisplay {
  0% {
    transform: translateY(-30px);
    opacity: 0.2;
  }
  20% {
    transform: translateY(-20px);
    opacity: 0.4;
  }
  40% {
    transform: translateY(-15px);
    opacity: 0.6;
  }
  60% {
    transform: translateY(-10px);
    opacity: 0.8;
  }
  80% {
    transform: translateY(-6px);
    opacity: 0.9;
  }
  100% {
    transform: translateY(-2px);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #079469;
  }
}
